/* Letra */
@font-face {
    font-family: "espacial";
    src: url(../fonts/space\ age.ttf);
}

/* Fondo, letra y margenes */
*{
    background-image: url(../img/fondo.png);
    background-size: cover;

    margin: 0;

    font-family: "espacial";
    text-align: center;
}

/* Div donde esta el texto */

#fondoblanco{

    position: absolute;

    background: rgba(187, 187, 187, 0.804);
    
    margin-top: 2.5%;
    margin-left: 10%;

    width: 80%;
    height: 41.5em;
    border: 1px solid black;
    border-radius: 8px;

}

/* Texto del div */

#fondoblanco .texto{

    background: rgba(187, 187, 187, 0);

}

p, b{
    background: rgba(187, 187, 187, 0);
    font-family: "Calibri";
}


/* Boton (enlace a la otra página) */

a{
    background: rgba(187, 187, 187, 0);
}

#boton{

    width: 5em;
    height: 5em;
    border: 1px solid black;
    border-radius: 10px; 
}